<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>{{ name }}の社員情報。</h3>
  <p></p>
  <table>
    <tr>
      <th>年齢</th>
      <th>趣味</th>
    </tr>
    <tbody>
      <tr>
        <td>{{ data[1] }}歳</td>
        <td>{{ data[2] }}</td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <a href='/redirects'>トップ画面にリダイレクト</a>
</body>
</html>